* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body, html {
    overflow-x: hidden;
}
nav {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
#checkbox-menu, .toggle {
    display: none ;
}
.menu {
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.menu li a {
    color: black;
    text-decoration: none;
    align-self: center;
    font-size: 13px;
    padding: 10px 15px;
    transition: background .2s linear;
}
.menu li a:hover {
    background: #ffcc01;
    border-radius: 3px;
}
.menu li a.logo {
    font-size: 25px;
    margin-right: 240px;
}
.menu li a.contacts {
    margin-right: 100px;
}
.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
.intro {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}
.intro-img{
    background-image: url(img/room2.jpg);
    width: 965px;
    height: 640px;
}
.intro .intro-text {
    position: absolute;
    font-size: 62px;
    right: 850px;
    top: 240px;
}
.intro-contacts{
    background-color: #ffcc01;
    position: absolute;
    display: flex;
    top: 638px;
    right:47px;
    max-width: 590px;
    padding: 30px 50px;
    justify-content: space-between;
}
.intro-contacts i {
    color:#fff;
    margin-right: 20px;
}
.intro-contacts p {
    margin-right: 60px;
    font-size: 18px;
}


@media screen and (max-width: 765px) {
    .toggle{
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        color: black;
        background: #ffcc01;
        transition: all .1s linear;
    }
    .toggle:hover {
        background: #d3a900 ;
    }
    #checkbox-menu:checked + label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }
    #checkbox-menu:checked + label .touch  {
        height: 350px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0px;
        transition: height .3s linear;
    }

    .menu li {
        display: flex;
        align-self: center;
        width: 95px;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a {
        width: 95px;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    .menu li a.logo {
        font-size: 21px;
        margin-right: 0px;
    }
    .menu li a.contacts {
        margin-right: 0px;
   }   
   .intro {
       margin-top: 0;   
       display: block;
       max-width: 100%;
   }
   .intro-img{
       background-position: 400px ;
   }
   .intro .intro-text {
       position: relative;
       font-size: 35px;
       left: 20px;
       top: 110px;
   }
   .intro .intro-contacts {
       position: relative;
       right: 0px;
       top: -60px;
       padding: 20px 10px;
   }
   .intro-contacts i {
       margin-right: 10px;
   }
   .intro-contacts p {
       font-size: 14px;
       margin-right: 0;
   }

}